<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <!-- Balise meta pour la description de la page (méta-description) -->
  <meta name="description" content="Découvrez notre large gamme de compléments alimentaires">

  <!-- Balise meta pour les mots-clés (méta-keywords) -->
  <meta name="keywords" content="compléments alimentaires, Medical, santer">

  <!-- Balise meta pour l'auteur -->
  <meta name="author" content="Sun shop">

  <!-- Balise meta pour la distribution -->
  <meta name="distribution" content="global">

  <!-- Balise meta pour l'indexation des robots -->
  <meta name="robots" content="index, follow">

  <!-- Balise meta pour le viewport (pour les appareils mobiles) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOSTRAPP ICI  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- google font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
  
    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
    <link rel="manifest" href="./img/site.webmanifest">
    <!-- favicon  -->
    
  <!-- awesome here  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/boutique.css">
  <title>Mes produits</title> <br>

  <script>
    localStorage.setItem('state', 'boutique')
  </script>
</head>

<body>
  <%- include('composants/nav.ejs')  %>
  <div class=" hastag">
    <div class="overlay">
      <p style="text-align: center;">Les filtre C'est Joli, mais prendre Soin de sa peau C'est mieux !</p>
    </div>
  </div>
  <br>
  <h1 style="text-align: center;">Nos Produits</h1> <br>

  <div class="categories-list">
    <div class="avatar">
        <a href="/oneDay">
      <div style="background-color: orange;" class="logo">
        <span id="v-text">O D</span>
      </div>
      <span>ONE DAY</span>
      </a>
    </div>
    <div class="avatar">
    <a href="/neocell">
      <div style="background-color: #D500F9;" class="logo">
        <span id="v-text">NC</span>
      </div>
      <span>NEOCELL</span>
    </a>
    </div>
    <div class="avatar">
        <a href="/vaseline">
      <div style="background-color: #F50057
      ;" class="logo">
        <span id="v-text">V</span>
      </div>
      <span>VASELINE</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/nutrimea">
      <div style="background-color: #1E88E5 ;" class="logo">
        <span id="v-text">N</span>
      </div>
      <span>NUTRIMEA</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/cerave">
      <div style="background-color: #26A69A ;" class="logo">
        <span id="v-text">CV</span>
      </div>
      <span>CERAVE</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/lashile">
      <div style="background-color: #F06292;" class="logo">
        <span id="v-text">L</span>
      </div>
      <span>LASHILE</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/theOrdinary">
      <div style="background-color: #00BCD4;" class="logo">
        <span id="v-text">T O</span>
      </div>
      <span>ORDINARY</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/webber">
      <div style="background-color: #EF5350;" class="logo">
        <span id="v-text">W B</span>
      </div>
      <span>WEBBER</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/palmers">
      <div style="background-color: #FF6D00;" class="logo">
        <span id="v-text">P</span>
      </div>
      <span>PALMER'S</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/jamieson">
      <div style="background-color: #00B0FF;" class="logo">
        <span id="v-text">G C</span>
      </div>
      <span>JAMIESON</span>
      </a>
    </div>
    <div class="avatar">
        <a href="/nivea">
      <div style="background-color: #6D4C41;" class="logo">
        <span id="v-text">N</span>
      </div>
      <span style="margin-left: 10px;">NIVEA</span>
      </a>
    </div>

  </div>



  <div class="row">
    <% produits.forEach((produit) => { %>
    <div class="col-md-3 product-card" data-categorie="tout" data-nom="<%= produit.nom %>" style="height: auto;">
      <div class="card mb-10 shadow-sm">
        <div class="cardTop">
          <img src="<%= produit.url %>" alt="<%= produit.nom %>">
        </div>
        <div class="cardBottom">
          <h6 style="text-transform: uppercase;"><%= produit.nom %></h6>

          <!-- Bouton "voir plus" (vous pouvez ajouter le contenu souhaité ici) -->
          <p class="d-inline-flex gap-1">
            <a class="" data-bs-toggle="collapse" href="#collapseExample_<%= produit.id %>" role="button" aria-expanded="false" aria-controls="collapseExample_<%= produit.id %>">
              Voir plus...
            </a>
          </p>
          <div class="collapse" id="collapseExample_<%= produit.id %>">
            <div class="">
              <!-- Contenu du "voir plus" -->
              <%= produit.desc %>
            </div>
          </div>

          <div class="cardFooter">
            <div style="display: flex; margin-bottom: 10px;">
              <!-- Affichage des étoiles (si vous avez un champ "évaluation" dans votre base de données) -->
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <!-- Affichage du prix -->
              <p style="color: rgb(44, 190, 44);"><%= produit.prix %> CFA</p>
              <div class="panierTonne ajouter-au-panier" data-id="<%= produit.id %>" data-prix="<%= produit.prix %>" data-nom="<%= produit.nom %>" data-description="<%= produit.desc %>" data-url="<%= produit.url %>">
                <i class="fa-solid fa-cart-plus"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <% }); %>
  </div>

  <!-- ... Autre contenu de la page ... -->

  <!-- my footer here -->
  <%- include('composants/footer.ejs')  %>

  <!-- my footer here -->

  <!-- bosstrap js ici  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!-- cdn gsap ici -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>         -->
  <script src="/script/boutique.js"></script>
  <script src="/script/index.js"></script>

</body>
<script>
  // Vérifiez s'il y a au moins une clé Local Storage commençant par "produit_"
  let hasProduitKeys = false;
  for (let key in localStorage) {
    if (key.startsWith("produit_")) {
      hasProduitKeys = true;
      break;
    }
  }

  // Sélectionnez votre icône de panier (supposons que son ID est "icon-panier")
  const iconPanier = document.getElementById("sac2");
  const iconPanier2 = document.getElementById("sac");

  // Ajoutez ou supprimez la classe "point-rouge" en fonction de la condition
  if (hasProduitKeys) {
    iconPanier.classList.add("point-rouge");
    iconPanier2.classList.add("point-rouge");
  } else {
    iconPanier.classList.remove("point-rouge");
    iconPanier2.classList.remove("point-rouge");
  }
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function() {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/64ac812894cf5d49dc62c113/1h50th2c3';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->

</html>